<a href="<%= path %>" data-largesrc="<%= path %>" data-title="<%= name %>" data-description="<%= permalink %>" data-clipboard-text="<%= path %>">
	<img src="<%= path %>"/>
</a>
<div class="title"><strong><%= name %></strong></div>
<!-- <p class="muted detail">Upload by <span>ku4ncheang</span></p> -->